
/auto-save-list/*
/elpa/*
/server/*
.cache/*
.extension/*
/tree-sitter/*
org-persist/
transient/
var/
eglot-java-eclipse-jdt-cache/
eln-cache/
share/
undo-fu-session/
data/
url/

*.elc
.dap-breakpoints
projectile-bookmarks.eld
.org-id-locations

/readme.el
/readme.elc
/custom.el
/lombok.jar
/bookmarks
/fontaine-latest-state.eld
/recentf
/history
/projects
/tramp
/network-security.data

