
/auto-save-list/*
/elpa/*
/server/*
.cache/*
.extension/*
/tree-sitter/*
org-persist/
transient/
var/
eglot-java-eclipse-jdt-cache/
eln-cache/
share/
undo-fu-session/
data/
url/

recentf
*.elc
.dap-breakpoints
projectile-bookmarks.eld
readme.el
.org-id-locations
bookmarks
history
projects
tramp
lombok.jar
fontaine-latest-state.eld

